version: "3.9"

services:
  db:
    image: postgres:16-alpine
    container_name: tsv_postgres
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: tsv_service
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  app:
    build: .
    container_name: tsv_service
    restart: always
    depends_on:
      - db
    ports:
      - "8080:8080"
    volumes:
      - ./input:/app/input
      - ./output:/app/output
    environment:
      DB_HOST: db
    command: ["./app"]

volumes:
  postgres_data:
